<!-- DECORATION -->
<section class="background backgroundLarge">
  <div class="background__container">
    <div class="background__rec background__recOne"></div>
    <div class="background__rec background__recTwo"></div>
    
    <div class="background__Square">
      <div class="background__SquareItem"></div>
    </div>
  </div>
</section>