/*
 * Purchase part
 */
 .purchase {
  color: $white;
  font-family: $font-1;
  margin-top: $margin-top-6;
  margin-bottom: $margin-top-4;
  
  @media(min-width: $medium) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
// .purchase__visuel {
//   img {
//     margin-left: 50%;
//     transform: translate(-50%, 0%);
//   }
// }

.purchase__content {
  margin-left: $margin-top-5;
  margin-right: $margin-left-5;
  
  @media(min-width: 700px) {
    margin-right: $margin-left-3;
  }
}

/*
 * Purchase text content
 */
.purchase__content__title2 {
  line-height: 20px;
  font-size: $text-2;
  font-weight: 700;
}

.purchase__content__price {
  margin-top: $margin-top-6;
  font-size: $text-2;
  font-weight: 700;
  color: $main-color;
}

.purchase__content__invitation {
  margin-top: $margin-left-6;
  font-size: $text-3;
} 

.purchase__content__copyright {
  margin-top: $margin-left-7;
  font-size: $text-4;
  line-height: 14px;
}

/*
 * Purchase button
 */
.purchase__content__bouton {
  position: relative;
  display: flex;
  width: 187px;
  height: 45px;
  margin-top: $margin-top-5;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  justify-content: flex-start;
  cursor: crosshair;
}

.purchase__content__boutonDecoration {
  position: absolute;
  width: 50px;
  height: 40px;
  z-index: 1;
  border: 2px solid $white;

  &:nth-of-type(1){
    left: 0%;
    border-right: none;
  }

  &:nth-of-type(2){
    right: 0%;
    border-left: none;
  }
}

.purchase__content__boutonTexte {
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
  color: $main-color;
  font-size: $text-3;
  font-weight: 700;
  font-family: $font-2;
}