/*
 * Background Part
 */
 .backgroundSmall {
  display: block;
   
  @include medium {
    display: none;
  }
}
.backgroundLarge {
  display: none;

  @include medium {
    display: block;
  }
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-800px);
  z-index: -1;
  
  @include medium {
    transform: translateY(0px);
  }
}
.background__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background__rec {
  position: absolute;
  width: 100%;
  height: $bkg-rec-size;
  transform: skewY(-45deg);
  transform-origin: 0 50%;
  background: $black-2;
  z-index: 0;
}

.background__Square {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: right;
}

.background__SquareItem {
  position: absolute;
  top: $bkg-rec-size / 2 + 10;
  right: - $bkg-rec-size / 1.2;
  width: $bkg-rec-size;
  height: $bkg-rec-size;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  background: $main-color;

  @include medium {
    top: $bkg-rec-size / 2;
    right: - $bkg-rec-size / 2;
  }
}


/*
 * Background position
 */
.background__recOne {
  top: 0;
}
.background__recTwo {
  top: $bkg-rec-size;
  transform: skewY(45deg);
}
.background__recThree {
  top: - $bkg-rec-size * 3;
}


.backgroundLarge {

  .background__recOne {
    top: 0;
  }
  .background__recTwo {
    top: $bkg-rec-size;
    transform: skewY(45deg);
  }
}