/*
 * Header test direction
 */

#fixedHeader {
  position: fixed;
  padding: 20px;
  font-size: $title-2;
  background: #3C3C3A;
  transition: all 0.5s ease-in-out;
  will-change:transform, opacity;
}
.fixed-header-down {
  transform: translateY(-40px);
  opacity: 0;
}
#direction {
  position: fixed;
}

/*
 * Navigation
 */

 .navigation {
  position: fixed;
  top: 50%;
  right: 20px;
  color: $white;

  &>div {
    margin: 10px;
    padding: 13px 13px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    &:hover {
      //background-color: rgb(12, 121, 211);
    }

    &:hover .navigation__points {
      background: $main-color-hover;
    }

    &:hover .navigation__infos {
      transform: translateX(-60px);
      opacity: 1
    }
    
    &:hover .navigation__infos:before {
      transform: scaleX(1);
      transition-delay: 0.15s;
      opacity: 1;
    }
  }
}


.navigation__points {
  width: $points-size-px;
  height: $points-size-px;
  border-radius: 50%;
  background: $main-color;
  transition: all 0.1s ease-in-out;

  &:after {
    content: "";
    left: $points-size-px - 4;
    top: $points-size-px - 4;
    width: $points-size-px + 10;
    height: $points-size-px + 10;
    z-index: -1;
    position: absolute;
    background: $black;
    opacity: 0;
    border: 1px solid $main-color;
    border-radius: 50%;
  }
}
.navigation__points--active .navigation__points:after{
  opacity: 1;
}

.navigation__infos {
  right: 0px;
  width: 120px;
  opacity: 0;
  position: absolute;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.1s;
  will-change:transform, opacity;

    &:before {
      content: "";
      left: -10px;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      opacity: 1;
      transform: scaleX(0);
      transform-origin: 30% 100%;
      transition: all 0.25s ease-in-out;
      will-change:transform, opacity;
      background: $main-color;
    }
}




/*
 * Content style test
 */

.first-element {
  margin-top: 100px;
}
.squares div {
  width: 300px;
  height: 300px;
  margin: 10px;
  color: $white;
  background: $black;  
}
