/*
 * Header test direction
 */

#fixedHeader {
  position: fixed;
  padding: 20px;
  font-size: $title-2;
  background: #3C3C3A;
  transition: all 0.5s ease-in-out;
  will-change:transform, opacity;
}
.fixed-header-down {
  transform: translateY(-40px);
  opacity: 0;
}
#direction {
  position: fixed;
}

/*
 * Navigation
 */

 .navigation {
  position: fixed;
  top: 50%;
  right: 20px;
  color: $white;

  &>div {
    margin: 10px;
    padding: 13px 13px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    &:hover {
      //background-color: rgb(12, 121, 211);
    }

    &:hover .navigation__points {
      background: $main-color-hover;
    }

    &:hover .navigation__infos {
      transform: translateX(-80px);
      //transition-delay: 0.1s;
      opacity: 1
    }

    &:hover .navigation__infos:before {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}


.navigation__points {
  width: 12px;
  height: 12px;
  z-index: $zindex-2;
  border-radius: 50%;
  background: $main-color;
  transition: all 0.1s ease-in-out;
}

.navigation__infos {
  right: 0px;
  width: 150px;
  opacity: 0;
  position: absolute;
  text-align: right;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.1s;
  
  will-change:transform, opacity;
}
.navigation__infos:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background: rgb(11, 175, 197);
  transform: scaleX(0);
  opacity: 0.5;
  transform-origin: 0 100%;
  transition: all 0.25s ease-in-out;
  will-change:transform, opacity;
}


.navigation__points--active {
  border: 1px solid $main-color;
}


/*
 * Content style test
 */

.first-element {
  margin-top: 100px;
}
.squares div {
  width: 300px;
  height: 300px;
  margin: 10px;
  color: $white;
  background: $black;  
}
