table {
  color: $white;
  font-size: $text-2;
  
  margin-left: $margin-left-1;
  margin-right: $margin-left-1;
  
  //pour toutes les lignes
  tr {
    border-bottom: 1px solid $white;
    padding-top: $margin-top-5;
    
    td{
      font-family: $font-1;
      padding-top: $margin-top-6;
      padding-bottom: $margin-top-6;
    }
    
    td:nth-of-type(1) {
      font-size: $subtitle-1;
      color: $main-color;
      //rajouter la graisse ici
    }
  }
  
  //la première ligne à un css spécifique
  tr:nth-of-type(1) {
    
    td:nth-of-type(2) {
      
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        
        li {
          margin-top: $margin-top-6;
        }
        
        li:nth-of-type(1) {
          font-size: $subtitle-2;
          width: 20%;
        }
        
        li:nth-of-type(2){
          width: 80%;
        }
      }
      
      ul:nth-of-type(3){
//        margin-bottom: $margin-top-5;
      }
    }
    
  }
}