<!-- VIDEO 360 -->

<section class="video360">
    <div class="video360__rightContent">
        <div class="video360__title">
            <p>video 360 degrés</p>
        </div>
        <div class="video360__text">
            <p>Prenez des photos intégrales ou des vidéos courtes afin que vous puissiez avoir une vue à 360 dégrés de votre tenue. Alexa vous permet de regarder le moindre recoin de votre tenue grace à sa technologie de capture intense.
            <br>    Avec la capture vous ne ratterez aucun détail de votre tenue.</p>
        </div>
    </div>
    <div class="video360__leftContent">
        <div class="leftContent__virtualScreen">
            <div class="leftContent__inner">
                <img src="./img/accueil/hallelujah.gif" alt="">
            </div>
        </div>
    </div>
</section>