<!-- ACCUEIL -->

<section class="accueil">
    <div class="accueil__leftContent">
        <div class="accueil__leftContenttitre">
            <h1>echo look <p class="accueil__leftContentsousTitre">Aime ton look tous les jours</p></h1>
        </div>
        <div class="accueil__leftContenttexte">
            <p>Avec Echo Look, vous allez pouvoir controler votre style chaque matin.
                <br> Il vous aidera dans votre choix avec une tenue adapté au temps extérieur mais aussi à la tendance du moment
                pour être toujours plus au top.</p>
        </div>
    </div>
    <div class="accueil__rightContent">
        //- <img src="./img/accueil/large-Echo_Look_Accueil.png" alt="">
        <img src="../img/accueil/Small-Echo_Look_Accueil.png" srcset="../img/accueil/Small-Echo_Look_Accueil.png 130w, ../img/accueil/Medium-Echo_Look_Accueil.png 180w, ../img/accueil/large-Echo_Look_Accueil.png 256w" sizes="(min-width: 765px) 250px, (min-width: 500px) 200px, 145px" alt="">
    </div>
</section>

<!-- SCROLL BUTTON -->

<a href="#scrollDestination">
    <section class="scroll">
        <div class="scroll__text">
            <p>decouvrir</p>
        </div>
        //- arrow
        <div class="scrollArrow demo">
            <a href="#scroll-destination">
                <span></span>
            </a>
        </div>
    </section>
</a>