include ../partials/header.pug



<!-- ACCUEIL -->

    <section class="accueil">
        <div class="accueil__titre">
            echo look
        </div>
        <div class="accueil__sous-titre">
            Aime ton look tous les jours
        </div>
        <div class="accueil__texte">
            Avec Echo Look, vous allez pouvoir controler votre style chaque matin. Il vous aidera dans votre choix avec une tenue adapté
            au temps extérieur mais aussi à la tendance du moment pour être toujours plus au top.
        </div>
        <img class="accueil__image" src="" alt="">
    </section>

    <!-- SCROLL BOUTON -->

    <section class="scroll">
        <div class="scroll__text">
            decouvrir
        </div>
        <!-- arrow -->
        <section id="scroll-arrow" class="demo">
            <a href="#scroll-destination">
                <span></span>
            </a>
        </section>
    </section>


    <!-- ECHO LOOK APP -->

    <section class="app" id="scroll-destination">
        <div class="app__titre">
            testez style check maintenant en cliquant sur "touchez-moi"
        </div>
        <div class="app__bouton">
            <span class="app__bouton-text"></span>
            <span class="app__bouton-cercle"></span>
        </div>
        <div class="app__outer-container">
            <div class="app__inner-container">
                <img src="./images/gab.png" alt="">
            </div>
        </div>
    </section>

    <!-- VIDEO 360 -->

    <section class="video360">
        <div class="video360__titre">
            video 360
        </div>
        <div class="video360__texte">
            Avec Echo Look, vous allez pouvoir controler votre style chaque matin. Il vous aidera dans votre choix avec une tenue adapté
            au temps extérieur mais aussi à la tendance du moment pour être toujours plus au top.
        </div>
        <div class="video360__outer-container">
            <div class="video360__inner-container">
                <img src="./images/hallelujah.gif" alt="">
            </div>
        </div>
    </section>


    <script src="./script/main.js"></script>