<!-- ACCUEIL -->

<section id="discover" class="accueil">
    <div class="accueil__leftContent">
        <div class="accueil__leftContenttitre">
            <h1>echo look</h1>
            <p class="accueil__leftContentsousTitre">Aime ton look tous les jours</p>
        </div>
        <div class="accueil__leftContenttexte">
            <p>Avec Echo Look, vous allez pouvoir controler votre style chaque matin.
                <br> Il vous aidera dans votre choix avec une tenue adapté au temps extérieur mais aussi à la tendance du moment pour être toujours plus au top.</p>
        </div>
    </div>
    <div class="accueil__rightContent">
        <img src="../img/large-echo_look_background.png" srcset="../img/accueil/small-echo_look_background.png 130w, ../img/large-echo_look_background.png 256w" sizes="(min-width: 765px) 250px, 145px" alt="echo look background image">
    </div>

    <div class="discover__scroll">
        <a id="discoverButton" class="discover__scroll__button" href="#">
            <div class="discover__scroll__buttonDecoration"></div>
            <p class="discover__scroll__buttonText">Découvrir</p>
            <div class="discover__scroll__buttonDecoration"></div>
        </a>
    </div>
</section>