<!-- ECHO LOOK APPLICATION -->

<section class="application" id="scrollDestination">
    <!-- application carousel -->
    <div class="application__carousel" id="application__carousel__active">
        <div class="carousel__slides">
        
            <!-- slide 1 - echo look app -->
            <div class="carousel__slide carousel__slide--showing" data-state="active">
                <div class="carousel__leftContent">
                  <h2 class="leftContent__title">echo look app</h2>
                  <p class="leftContent__text">Téléchargez l’application Echo Look, le compagnon essentiel qui vous aidera à choisir vos tenues. Où que vous soyez, chez vous ou à l’hôtel par exemple, votre assistant reste près de vous à tout moment. En plus, c’est un parfait outil d’édition de photo facile d’utilisation. Directement connecté à votre caméra, il vous suffit de demander à Alexa de vous prendre en photo ou en vidéo et vous pouvez voir le résultat dans l’application.</p>
                </div>
                <div class="carousel__rightContent">
                    <div class="rightContent__background"></div>
                    <div class="rightContent__phoneImage">
                        <img class="rightContent__bluredImage" src="./img/app/large/Iphone 7_05.png" alt="">
                        <!-- en savoir plus bouton -->
                        <div class="rightContent__button">
                            <div class="button-circle"></div>
                            <div class="button-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- slide 2 - lookbook personnel -->
            <div class="carousel__slide">
                <div class="carousel__leftContent">
                    <h2 class="leftContent__title">votre lookbook personnel</h2>
                    <p class="leftContent__text">Stockez par la suite vos photos et videos sur votre lookbook personnel, et partagez aussi vos photos et videos sur les réseaux sociaux. Enregistrez vos favoris.</p>
                </div>
                <div class="carousel__rightContent">
                    <div class="rightContent__background"></div>
                    <div class="rightContent__phoneImage">
                        <img class="rightContent__bluredImage" src="./img/app/large/Iphone 7_01.png" alt="">
                        <!-- en savoir plus bouton -->
                        <div class="rightContent__button">
                            <div class="button-circle"></div>
                            <div class="button-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- slide 3 - Style check -->
            <div class="carousel__slide">
                <div class="carousel__leftContent">
                    <h2 class="leftContent__title">style check</h2 >
                    <p class="leftContent__text">Style Check permet de garder votre point de vue en utilisant les algorithmes avancés d’intelligence artificielle et des conseils de spécialistes de la mode. Soumettez vos choix de tenues pour trouver les habits qui se marient le mieux en fonction de l'ajustement, de la couleur, du style et des tendances actuelles. Au fil du temps, ces décisions deviennent plus intelligentes grâce à vos commentaires et aux commentaires de notre équipe de spécialistes de la mode expérimentés.</p>
                </div>
                <div class="carousel__rightContent">
                    <div class="rightContent__background"></div>
                    <div class="rightContent__phoneImage">
                        <img class="rightContent__bluredImage" src="./img/app/large/Iphone 7_04.png" alt="">
                        <!-- en savoir plus bouton -->
                        <div class="rightContent__button">
                            <div class="button-circle"></div>
                            <div class="button-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- slide 4 - photo et video -->
            <div class="carousel__slide">
                <div class="carousel__leftContent">
                    <h2 class="leftContent__title">photo et video</h2>
                    <p class="leftContent__text">Communiquer avec votre Echo look grâce à Alexa, prenez facilement des photos intégrales et des vidéos courtes avec une caméra mains libres qui comprend un éclairage LED intégré. De même la caméra de détection de profondeur et le flou de fond basé sur la vision par ordinateur permettent de mettre en avant votre tenue.</p>
                </div>
                <div class="carousel__rightContent">
                    <div class="rightContent__background"></div>
                    <div class="rightContent__phoneImage">
                        <img class="rightContent__bluredImage" src="./img/app/large/Iphone 7_02.png" alt="">
                        <!-- en savoir plus bouton -->
                        <div class="rightContent__button">
                            <div class="button-circle"></div>
                            <div class="button-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- slide 5 - alex votre assistance -->
            <div class="carousel__slide">
                <div class="carousel__leftContent">
                    <h2 class="leftContent__title">alexa, assistance personnel</h2>
                    <p class="leftContent__text">Boosté avec l’intelligence d’Alexa, votre Echo Look vous permet de lire les nouvelles et les livres audio, configurer des alarmes, obtenir des informations sur la circulation et la météo, contrôler les appareils portables intelligents, jouer de la musique et plus encore. Ajoutez aussi de nouvelles fonctionnalités comme Starbucks, Fitbit, NPR et plus encore.</p>
                </div>
                <div class="carousel__rightContent">
                    <div class="rightContent__background"></div>
                    <div class="rightContent__phoneImage">
                        <img class="rightContent__bluredImage" src="./img/app/large/Iphone 7_03.png" alt="">
                        <!-- en savoir plus bouton -->
                        <div class="rightContent__button">
                            <div class="button-circle"></div>
                            <div class="button-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- slide 6 - testez style check -->
            <div class="carousel__slide">
                <div class="carousel__leftContent">
                    <h2 class="leftContent__title">testez style check maintenant en cliquant sur «touchez-moi»</h2>
                    <p class="leftContent__text"></p>
                </div>
                <!-- ecran virtuel -->
                <div class="carousel__rightContent">
                    <div class="rightContent__virtualScreen">
                        <div class="rightContent__inner">
                            <div class="rightContent__buttonText">
                                <p>touchez moi</p>
                            </div>
                            <div class="rightContent__triggerButton">
                                <div class="triggerButton__circle"></div>
                                <div class="triggerButton__inner"></div>
                            </div>
                            <div class="rightContent__flash"></div>
                            <div class="rightContent__success">Capture effectuée !</div>
                            <img class="rightContent__innerInactive" src="./img/capture.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- app carousel indicators -->
        <div class="carousel__indicators">
            <ul>
                <li class="carousel__indicator">
                    <input class="indicator radio-btn" id="indicator1" name="indicator" data-slide="1" data-state="" checked type="radio" />
                    <label for="indicator1" class="indicator__label"></label>
                </li>
                <li class="carousel__indicator">
                    <input class="indicator radio-btn" id="indicator2" name="indicator" data-slide="2" type="radio" />
                    <label for="indicator2" class="indicator__label"></label>
                </li>
                <li class="carousel__indicator">
                    <input class="indicator radio-btn" id="indicator3" name="indicator" data-slide="3" type="radio" />
                    <label for="indicator3" class="indicator__label"></label>
                </li>
                <li class="carousel__indicator">
                    <input class="indicator radio-btn" id="indicator4" name="indicator" data-slide="4" type="radio" />
                    <label for="indicator4" class="indicator__label"></label>
                </li>
                <li class="carousel__indicator">
                    <input class="indicator radio-btn" id="indicator5" name="indicator" data-slide="5" type="radio" />
                    <label for="indicator5" class="indicator__label"></label>
                </li>
                <li class="carousel__indicator">
                    <input class="indicator radio-btn" id="indicator6" name="indicator" data-slide="6" type="radio" />
                    <label for="indicator6" class="indicator__label"></label>
                </li>
            </ul>
        </div>
    </div>
</section>