<section class="purchase">
  <div class="purchase__visuel">
  
    <img class="clip-ellipse" src="../img/Visuel/Small/Small-EchoLook_HP.png" srcset="../img/Visuel/Small//Small-EchoLook_HP.png 313w, ../img/Visuel/Medium//Medium-EchoLook_HP.png 470w, ../img/Visuel/Large/large-EchoLook_HP.png 521w" sizes="(min-width: 1440px) 521px, (min-width: 768px) 470px, 313px" alt="Votre Echo Look"/>
    
  </div>
  
  <div class="purchase__content">
    <h2 class="purchase__content__title2">Echo Look | Hands-Free Camera and Style Assistant with Alexa includes Style Check to get a second opinion on a outfit</h2>

    <p class="purchase__content__price">$199.99</p>
    <p class="purchase__content__invitation">Available exclusively by invitation</p>
    <p class="purchase__content__copyright">Ships from and sold by Amazon Digital Services LLC.</p>

    <a class="purchase__content__bouton" href="https://www.amazon.com/Amazon-Echo-Look-Camera-Style-Assistant/dp/B0186JAEWK">
      <div class="purchase__content__boutonDecoration"></div>
      <p class="purchase__content__boutonTexte">VISIT THE WEBSITE</p>
      <div class="purchase__content__boutonDecoration"></div>
    </a>
  </div>
  
</section>