include ../partials/header.pug

<section class="conclusion-price">
  <div class="conclusion-price__visuel">
    <div></div>
    <img src="../img/Visuel/Small/small-Echo_Look_Face.png" srcset="../img/Visuel/Small/small-Echo_Look_Face.png 320w, ../img/Visuel/Large/large-Echo_Look_Face.png 720w" alt="Votre Echo Look">
    
  </div>
</section>

include ../partials/footer.pug
