
<!-- ne pas oublier de gérer la vidéo en plein écran -->
<section id="gallery" class="gallery">
  <video class="gallery__video" autoplay loop muted poster="../img/large-video_01.png">
    <source src="../img/introducing-echo-look-love-your-look-every-day.mp4" type="video/mp4" />
    <source src="../img/introducing-echo-look-love-your-look-every-day.webm" type="video/webm" />
    Ici la description alternative
  </video>
  
  <img class="gallery__images" src="../img/Visuel/Small/Small_04.jpg" srcset="../img/Visuel/Small/Small_04.jpg 320w, ../img/Visuel/Medium/Medium_04.jpg 400w, ../img/Visuel/Large/Large_04.jpg 720w" alt="Echo Look l'objet connecté qui se glisse dans votre dressing" sizes="(min-width: 800px) 49vw, (min-width: 400px) 100vw, 100vw">
  
  <img class="gallery__images" src="../img/Visuel/Small/Small_03.jpg" srcset="../img/Visuel/Small/Small_03.jpg 320w, ../img/Visuel/Medium/Medium_03.jpg 400w, ../img/Visuel/Large/Large_03.jpg 720w" alt="Echo Look l'objet connecté qui se glisse dans votre dressing" sizes="(min-width: 800px) 49vw, (min-width: 400px) 100vw, 100vw">
  
  <img class="gallery__images" src="../img/Visuel/Small/Small_02.jpg" srcset="../img/Visuel/Small/Small_02.jpg 320w, ../img/Visuel/Medium/Medium_02.jpg 400w, ../img/Visuel/Large/Large_02.jpg 720w" alt="Echo Look l'objet connecté qui se glisse dans votre dressing" sizes="(min-width: 800px) 49vw, (min-width: 400px) 100vw, 100vw">
  
</section>
