include ../partials/header.pug

<!-- ne pas oublier de gérer la vidéo en plein écran -->
<section class="images_videos">
  <video controls poster="../img/small-video_01.png">
    <source src="../img/introducing-echo-look-love-your-look-every-day.mp4" type="video/mp4" />
    <source src="../img/introducing-echo-look-love-your-look-every-day.webm" type="video/webm" />
    Ici la description alternative
  </video>
  
  <img src="../img/Visuel/Small/small-photo_03.jpg" srcset="../img/Visuel/Small/small-photo_03.jpg 320w, ../img/Visuel/Large/large-photo_03.jpg 720w" alt="Echo Look l'objet connecté qui se glisse dans votre dressing" sizes="(min-width: 1024px) 50vw, (min-width: 768px) 75vw, 100vw">
  
  <img src="../img/Visuel/Small/small-photo_01.jpg" srcset="../img/Visuel/Small/small-photo_01.jpg 320w, ../img/Visuel/Large/large-photo_01.jpg 720w" alt="Echo Look un assistant connecté design" sizes="(min-width: 1024px) 50vw, (min-width: 768px) 75vw, 100vw">
  
  <img src="../img/Visuel/Small/small-photo_02.jpg" srcset="../img/Visuel/Small/small-photo_02.jpg 320w, ../img/Visuel/Large/large-photo_02.jpg 720w" alt="Echo Look toujours prêt à vous conseiller" sizes="(min-width: 1024px) 50vw, (min-width: 768px) 75vw, 100vw">
  
</section>

include ../partials/footer.pug

