include ../partials/header.pug

<!-- ne pas oublier de gérer la vidéo en plein écran -->
<section>
  <video src="">
    Il est temps de mettre à jour votre navigateur !
  </video>
  <img src="" alt="Echo Look assistant"/>
  
</section>