include ../partials/header.pug

<div id="fixedHeader" class="test">
  <div></div>
  <h1>Hello world</h1>
</div>


<div id="direction"></div>
<div class="first-element">
  <a href="page2.html">See page 2</a>
</div>

<div>
  <a href="stat_table.html">See page stat table</a>
</div>

<section class="navigation">
  <div id="discoverPoint" class="navigation__content navigation__points--active" data-target="discover">
    <div class="navigation__points"></div>
    <div class="navigation__infos">Discover</div>
  </div>
  <div id="tablePoint" class="navigation__content" data-target="table">
    <div class="navigation__points"></div>
    <div class="navigation__infos">Table</div>
  </div>
  <div id="footerPoint" class="navigation__content" data-target="footer">
    <div class="navigation__points"></div>
    <div class="navigation__infos">About</div>
  </div>
</section>


<div class="squares">
  <div id="discover">item 1</div>
  <div>item 2</div>
  <div>item 3</div>
  <div id="table">item 4</div>
  <div>item 5</div>
  <div>item 6</div>
  <div>item 7</div>
  <div id="footer">item 8</div>
  <div>item 7</div>
  <div>item 7é</div>
  <div id="test">item 7sdffdsds</div>
  <div>item 7fdqsqsfdsfqsfdsdfq</div>
  <div>jtoksmoisnoioihze</div>
</div>



include ../partials/footer.pug
