include ../partials/header.pug


<section class="navigation">
  <div id="discoverPoint" class="navigation__content navigation__points--active" data-target="discover">
    <div class="navigation__points"></div>
    <div class="navigation__infos">Discover</div>
  </div>
  <div id="tablePoint" class="navigation__content" data-target="table">
    <div class="navigation__points"></div>
    <div class="navigation__infos">Table</div>
  </div>
  <div id="purchasePoint" class="navigation__content" data-target="purchase">
    <div class="navigation__points"></div>
    <div class="navigation__infos">About</div>
  </div>
</section>


<div class="squares">
  <div id="discover">item 1</div>
  <div>item 2</div>
  <div>item 3</div>
  <div id="table">item 4</div>
  <div>item 5</div>
  <div>item 6</div>
  <div>item 7</div>
  <div id="purchase">item 8</div>
  <div>item 7</div>
  <div>item 7é</div>
  <div id="test">item 7sdffdsds</div>
  <div>item 7fdqsqsfdsfqsfdsdfq</div>
  <div>jtoksmoisnoioihze</div>
</div>


include ../pages/accueil.pug

//- include ../pages/background/bkg1.pug

include ../pages/application.pug

include ../pages/video360.pug

include ../pages/specifications.pug

include ../pages/stat_table.pug

include ../pages/images_videos.pug

include ../pages/conclusion.pug

include ../partials/footer.pug