include ../partials/header.pug


include ../partials/navigation.pug


include ../pages/accueil.pug

include ../pages/application.pug


include ../pages/video360.pug

//- Background Large
include ../pages/background/bkg1.pug

include ../pages/specifications.pug

//- Background Small
include ../pages/background/bkg2.pug

include ../pages/stat_table.pug

include ../pages/images_videos.pug

include ../pages/conclusion.pug


include ../partials/footer.pug