<section class="specifications">
  
  <div class="specifications__content">
  
    <div class="specifications__contentItem specifications__itemOne">
      <div class="contentItem__title">
        <p>Éclairage LED intégré</p>
      </div>
      <div class="contentItem__text">
        <p>Prenez des photos avec quatre DEL intégrées</p>
      </div>
    </div>
  
    <div class="specifications__contentItem specifications__itemTwo">
      <div class="contentItem__title">
        <p>Appareil photo mains libres</p>
      </div>
      <div class="contentItem__text">
        <p>Faites des photos de la tête aux pieds avec le flou de fond intelligent</p>
      </div>
    </div>
  
    <div class="specifications__contentItem specifications__itemThree">
      <div class="contentItem__title">
        <p>Prise standard déclenchée</p>
      </div>
      <div class="contentItem__text">
        <p>La base réglable se monte sur votre mur avec le kit inclus</p>
      </div>
    </div>

    <div class="specifications__lines">
      <div class="specifications__linesCercle"></div>
    </div>
  

  </div>

  <div class="specifications__echolook">
    <img src="../img/Visuel/Medium/Medium-Echo_Look_Accueil.png" alt="echo look">
  </div>
    
    .coucou
</section>