//- 
//- Small part
//- part 1
//-
<section id="specifications" class="specifications">
  <div class="specificationsOne">
    <div class="specifications__content">
      <div class="specifications__contentItem specifications__itemOne">
        <div class="contentItem__title">
          <p>Éclairage LED intégré</p>
        </div>
        <div class="contentItem__text">
          <p>Prenez des photos avec quatre DEL intégrées</p>
        </div>
      </div>
    
      <div class="specifications__contentItem specifications__itemTwo">
        <div class="contentItem__title">
          <p>Appareil photo mains libres</p>
        </div>
        <div class="contentItem__text">
          <p>Faites des photos de la tête aux pieds avec le flou de fond intelligent</p>
        </div>
      </div>
    
      <div class="specifications__contentItem specifications__itemThree">
        <div class="contentItem__title">
          <p>Prise standard déclenchée</p>
        </div>
        <div class="contentItem__text">
          <p>La base réglable se monte sur votre mur avec le kit inclus</p>
        </div>
      </div>
    </div>

    <div class="specifications__echolook">
      <img src="../img/small-Echo_Look_Produit.png" alt="echo look">
    </div>
  </div>

  //- 
  //- Small part
  //- part 2
  //-
  <div class="specifications specificationsTwo">

    <div class="specifications__echolook">
      <img src="../img/small-Echo_Look_Produit.png" alt="echo look">
    </div>


    <div class="specifications__content">
      <div class="specifications__contentItem specifications__itemOne">
        <div class="contentItem__title">
          <p>Microphone</p>
        </div>
        <div class="contentItem__text">
          <p>Demandez à Alexa de prendre une photo ou vidéo de votre look quotidien</p>
        </div>
      </div>
    
      <div class="specifications__contentItem specifications__itemTwo">
        <div class="contentItem__title">
          <p>Haut-parleur de 1,6 watt</p>
        </div>
        <div class="contentItem__text">
          <p>Écoutez les prévisions météo,nouvelles, et plus</p>
        </div>
      </div>

      <div class="specifications__contentItem specifications__itemThree">
        <div class="contentItem__title">
          <p>Bouton Mic & Camera off</p>
        </div>
      </div>
    </div>
  </div>


  //- 
  //- Large part
  //- 
  //-
  <div class="specifications specificationsLarge">
    
    <div class="specifications__content specifications__contentLeft">
    
      <div class="specifications__contentItem specifications__itemOne">
        <div class="contentItem__title">
          <p>Éclairage LED intégré</p>
        </div>
        <div class="contentItem__text">
          <p>Prenez des photos avec quatre DEL intégrées</p>
        </div>
      </div>
    
      <div class="specifications__contentItem specifications__itemTwo">
        <div class="contentItem__title">
          <p>Appareil photo mains libres</p>
        </div>
        <div class="contentItem__text">
          <p>Faites des photos de la tête aux pieds avec le flou de fond intelligent</p>
        </div>
      </div>
    </div>

    <div class="specifications__echolook">
      <img src="../img/large-Echo_Look_Produit.png" alt="echo look">
    </div>

    <div class="specifications__content specifications__contentRight">
      <div class="specifications__contentItem specifications__itemThree">
        <div class="contentItem__title">
          <p>Microphone</p>
        </div>
        <div class="contentItem__text">
          <p>Demandez à Alexa de prendre une photo ou vidéo de votre look quotidien</p>
        </div>
      </div>
  
      <div class="specifications__contentItem specifications__itemFour">
        <div class="contentItem__title">
          <p>Haut-parleur de 1,6 watt</p>
        </div>
        <div class="contentItem__text">
          <p>Écoutez les prévisions météo,nouvelles, et plus</p>
        </div>
      </div>

      <div class="specifications__contentItem specifications__itemFive">
        <div class="contentItem__title">
          <p>Bouton Mic & Camera off</p>
        </div>
      </div>

      <div class="specifications__contentItem specifications__itemSix">
        <div class="contentItem__title">
          <p>Prise standard déclenchée</p>
        </div>
        <div class="contentItem__text">
          <p>La base réglable se monte sur votre mur avec le kit inclus</p>
        </div>
      </div>
    </div>
  </div>
</section>