include ../partials/header.pug

<table class="table">
  <tr class="table__taille">
    <td class="table__taille__titre">Taille</td>
    <td class="table__taille__contenu">
      <ul>
        <li>Hauteur</li>
        <li>6.3" / 16 cm</li>
      </ul>
            
      <ul>
        <li>Largeur</li>
        <li>2.4 " / 6 cm</li>
      </ul>
            
      <ul>
        <li>Profondeur</li>
        <li>2.4 " / 6 cm</li>
      </ul>
    </td>
  </tr>
    
  <tr class="table__micro">
    <td>Micro</td>
    <td>Haut-parleur de 1,6 watt - à peu près identique à un smartphone</td>
  </tr>
    
  <tr class="table__processeur">
    <td>Processeur</td>
    <td>Processeur Intel Atom x5-Z8350 pour une technologie de pointe et des capacités de traitement</td>
  </tr>
    
  <tr class="table__camera">
    <td>Caméra</td>
    <td>Caméra 5MP et Intel RealSense SR300 pour la technologie de détection de profondeur</td>
  </tr>
    
  <tr class="table__app">
    <td>Echo Look app</td>
    <td>Disponible sur iOS (iOS 9 et versions ultérieures) pour iPhone5 et plus, et Android (Lollipop et au dessus); comprend 3 ans de stockage sur le cloud gratuit et illimité pour vos photos et vidéos</td>
  </tr>
    
  <tr class="table__coffret">
    <td>Contenu du coffret</td>
    <td>Echo Look, base, adaptateur secteur, kit de montage (plaque murale, vis et ancrages) et Guide de démarrage rapide</td>
  </tr>
    
  <tr class="table__garantie">
    <td>Conditions de garantie et de service</td>
    <td>Garantie limitée de 1 an et services inclus. L'utilisation d'Echo Look est soumise aux termes trouvés ici.</td>
  </tr>
</table>

<div>
  <a href="index.html">Back to home page</a>
</div>

include ../partials/footer.pug