include ../partials/header.pug

<video controls>
  <source src="../img/introducing-echo-look-love-your-look-every-day.mp4" type="video/mp4" />
  <source src="../img/introducing-echo-look-love-your-look-every-day.webm" type="video/webm" />
  Ici la description alternative
</video>

include ../partials/footer.pug