<!-- VIDEO 360 -->

<section class="video360">
  <div class="video360__leftContent">
    <div class="video360__leftContent__inner">
      <video muted>
        <source src="../img/introducing-echo-look-love-your-look-every-day.mp4" type="video/mp4" />
        <source src="../img/introducing-echo-look-love-your-look-every-day.webm" type="video/webm" />
        Pour visionner cette vidéo, vous pouvez ouvrir notre site sur un autre navigateur. 
      </video>
    </div>

    <div class="video360__leftContent__player">
      <div class="video360__leftContent__playerBar"></div>
      <div class="video360__leftContent__playerButton"></div>
    </div>
  </div>
  
  <div class="video360__rightContent">
    <div class="video360__title">
      <h2>video 360 degrés</h2>
    </div>
    <div class="video360__text">
      <p>Prenez des photos intégrales ou des vidéos courtes afin que vous puissiez avoir une vue à 360 dégrés de votre tenue. Alexa vous permet de regarder le moindre recoin de votre tenue grace à sa technologie de capture intense. Avec la capture vous ne ratterez aucun détail de votre tenue.</p>
    </div>
  </div>
</section>