<!-- VIDEO 360 -->

<section class="video360">
  <div class="video360__leftContent">
    <div class="video360__leftContent__inner">
      <video muted>
        <source src="../img/Tenue.mp4" type="video/mp4" />
        <source src="../img/Tenue.webm" type="video/webm" />
        Pour visionner cette vidéo, vous pouvez ouvrir notre site sur un autre navigateur. 
      </video>
    </div>

    <div class="video360__leftContent__player">
      
      <p class="video360__leftContent__playerTuto">Déplacer le bouton bleu à droite et à gauche pour tester la fonctionnalité 360° d'Echo Look.</p>
      
      <input type="range" class="video360__leftContent__playerRange" value="0"/>
    </div>
  </div>
  
  <div class="video360__rightContent">
    <div class="video360__title">
      <h2>video 360 degrés</h2>
    </div>
    <div class="video360__text">
      <p>Prenez des photos intégrales ou des vidéos courtes afin que vous puissiez avoir une vue à 360 dégrés de votre tenue. Alexa vous permet de regarder le moindre recoin de votre tenue grace à sa technologie de capture intense. Avec la capture vous ne ratterez aucun détail de votre tenue.</p>
    </div>
  </div>
</section>

