/* header */
a {
  color: #156DF2;
}

a:hover {
  color: #FFFFFF;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 10px;
  padding: 10px;;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: $font-1;
}

.header .logo-header{
  width: 10%;
  display: block;
  float: left;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
}
hr{
  display: block;
  clear: both;
  width: 97%;
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid #F7F7F7;
}

/*---- menu ----*/
@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
}
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/*---- button commander ----*/
.button-commander{
  background-color: #156DF2;
  border: none;
  padding: 25px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-commander a{
  margin-top: -27px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-commander:hover{
  background-color: $black !important;
  border: 2px solid #156DF2;
}

.button-commander a:hover{
  color: #156DF2;
}

/*---- menu icon ----*/
@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
}
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;

  @include medium {
    display : none;
  }
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/*---- menu btn ----*/
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
}