<!DOCTYPE html>
<html>
  <head>
    <title>This is a template</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>

    <header class="header">
     <img src="img/logo.png" class="logo-header">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#">Présentation</a></li>
    <li><a href="#">Caractéristiques techniques</a></li>
    <li><a href="#">Prix</a></li>
    <li><button class="button-commander"><a href="#work">Commander</a></button></li>
  </ul>
</header>