<!DOCTYPE html>
<html>
  <head>
    <title>Echo Look</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script async type="text/javascript" src="js/script.js"></script>
  </head>
  <body>

    <header class="header">
      <img class="header__logo" src="./img/logo.png">
      <input class="header__buttonMenu" type="checkbox" id="header__buttonMenu" />
      <label class="menu-icon header__menuIcon" for="header__buttonMenu">
        <span class="menuIcon__navicon"></span>
      </label>
      <ul class="header__menu">
        <li><a href="#">Présentation</a></li>
        <li><a href="#">Caractéristiques techniques</a></li>
        <li><a href="#">Prix</a></li>
        <li><button class="header__menuCommand"><a href="#work">Commander</a></button></li>
      </ul>
    </header>