<section class="navigation">
  <div id="discoverPoint" class="navigation__content navigation__points--active" data-target="discover">
    <div class="navigation__points"></div>
    <div class="navigation__infos">Découvrir</div>
  </div>
  <div id="360Point" class="navigation__content" data-target="360">
    <div class="navigation__points"></div>
    <div class="navigation__infos">360°</div>
  </div>
  <div id="specificationsPoint" class="navigation__content" data-target="specifications">
    <div class="navigation__points"></div>
    <div class="navigation__infos">Caractéristiques</div>
  </div>
  <div id="galleryPoint" class="navigation__content" data-target="gallery">
    <div class="navigation__points"></div>
    <div class="navigation__infos">Gallerie</div>
  </div>
</section>