@charset "UTF-8";

// Fonts
$title-1: 60px;
$title-2: 48px;

$subtitle-1: 24px;
$subtitle-2: 22px;
$subtitle-3: 20px;

$text-1: 18px;
$text-2: 16px;
$text-3: 14px;
$text-4: 12px;
$text-5: 10px;

$font-1: 'Avenir';
$font-2: 'Ember';

// Colors
$white: #ffffff;

$black: #111111;
$black-2: #202020;

$main-color: #156DF2;
$main-color-hover: #6aaaff;

// Marging-top et padding
$margin-top-1: 240px; //élément le plus bas section/élément le plus haut d'une autre 
$margin-top-2: 140px; //espace entre bas du texte et bouton
$margin-top-3: 78px; //espace entre le haut d'une image et le haut du texte
$margin-top-4: 50px; //espace entre les points de navigation
$margin-top-5: 30px; //espace entre titre et texte / filet et texte
$margin-top-6: 15px; //espace entre titre et texte

// Margin-left
$margin-left-1: 10%; //distance bordure gauche (idem bordure droite)
$margin-left-2: 168px; // espace entre image et texte
$margin-left-3: 140px; //espace entre image echo et caractéristique
$margin-left-4: 60px; //espace entre logo et 1er item menu
$margin-left-5: 40px; //espace entre 2 items menu
$margin-left-6: 20px; //espace entre les 2 boutons du menu
$margin-left-7: 10px; //espace entre les points caractéristiques et texte

// Box shadow
$box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);
$box-shadow-action: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
$box-shadow-action-hover: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);

// Border radius
$border-radius: 8px;

// Transition
$transition: all 0.3s ease-in-out;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Z-index
$zindex: 1;
$zindex-2: 5;
$zindex-3: 10;

// Breakpoints
$small: 500px;
$medium: 765px;
$large: 1200px;